div.border:after {
  content:"";
  display:table;
  clear:both;
}

div.border {
  width: 50%;
  float: left;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
}

div.border.postive {
  border: 1px solid #5CB85C;
}

div.border.negative {
  border: 1px solid #FF0000;
}

div.tweet-container {
  float: left;
  width: 100%;
  max-height: 151px;
  min-height: 151px;
  padding: 10px;
}

div.header {
  position: relative;
  left: 58px;
  height: 100%;
  margin-bottom: 5px;
  display: inline-block;
}

img.prof-pic {
  overflow: visible;
  border-radius: 5px;
  margin-left: -58px;
  float: left;
}

strong.classname {
  padding-top: 2px;
  margin-top: 3px;
  font-size: 18px;
  line-height: 1.25;
  display: block;
}

p.screen-name {
  font-size: 14px;
  color: #8899a6;
  display: table-row;
}

p.tweet-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: .01em;
  margin-bottom: 0px;
  overflow-wrap: break-word;
}

p.tweet-text.positive {
  color: #5CB85C;
}

p.tweet-text.negative {
  color: #FF0000;
}
